  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Light Green: #9CCC65
Dark Green: #388E3C */
}
body{
    background-color: #d5fca9;
    padding: 10vh 10vw;
    font-family: 'Lato', sans-serif;

}
button,a{
  cursor: pointer;
}
